.main {
  display: flex;

  > aside {
    flex-basis: 20%;

    &:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      > nav {
        flex-basis: 80%;
        position: sticky;
        top: calc(var(--height-header) + var(--space-40));
        border-radius: var(--border-radius);
        padding: var(--space-10);
        width: 300px;
        background-color: var(--background-color-4);

        > header {
          margin-bottom: var(--space-10);
          font-size: var(--font-size-medium);
          color: var(--color-1);
        }

        > main {
          > ul {
            > li {
              list-style-type: none;
              margin-bottom: var(--space-10);
              font-size: var(--font-size-small);

              &:last-child {
                margin-bottom: 0;
              }

              &.indent {
                margin-left: calc(var(--space-20));
              }

              > a.active {
                color: var(--color-1);
              }

              > hr {
                margin-top: var(--space-10);
              }
            }
          }
        }
      }
    }
  }

  > article {
    flex-basis: 60%;
    border-radius: var(--border-radius);
    padding: var(--space-40);

    h1,
    h2,
    h3,
    p,
    hr,
    ul,
    li {
      margin-bottom: var(--space-20);
    }

    h1 {
      font-size: var(--font-size-xlarge);
    }

    h2 {
      font-size: var(--font-size-large);
    }

    h3 {
      font-size: var(--font-size-medium);
    }

    p {
      font-size: var(--font-size-small);
    }

    ul {
      padding-left: var(--space-40);
      font-size: var(--font-size-small);
    }

    h1,
    h2,
    h3 {
      scroll-margin-top: calc(var(--height-header) + var(--space-20));

      > a {
        color: var(--color-1);

        &:hover + span {
          display: inline;
        }
      }

      > span {
        display: none;
      }
    }

    .reference-button-container {
      position: relative;

      > button {
        position: absolute;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover > svg {
          fill: var(--background-color-3);
        }

        &:has(~ h1) {
          left: -60px;
          font-size: var(--font-size-xlarge);
        }

        &:has(~ h2) {
          left: -60px;
          font-size: var(--font-size-large);
        }

        &:has(~ h3) {
          left: -55px;
          font-size: var(--font-size-medium);
        }

        &:has(~ p) {
          left: -50px;
          font-size: var(--font-size-small);
        }
      }

      > nav {
        display: none;
        position: absolute;
        left: -370px;
        border-radius: var(--border-radius);
        padding: var(--space-10);
        width: 300px;
        background-color: var(--background-color-3);

        &.active {
          display: block;
        }

        > header {
          margin-bottom: var(--space-10);
          font-size: var(--font-size-small);
          color: var(--color-1);
        }

        > main {
          > ul {
            margin-bottom: 0;
            padding-left: 0;

            > li {
              list-style-type: none;
              margin-bottom: var(--space-10);
              font-size: var(--font-size-xsmall);

              &:last-child {
                margin-bottom: 0;
              }

              > a > img {
                border-radius: calc(var(--border-radius) / 2);
                width: var(--font-size-xsmall);
                height: var(--font-size-xsmall);
              }
            }
          }
        }
      }
    }

    .pre-code-container {
      position: relative;
      margin-bottom: calc(var(--space-40) / 2);

      > pre {
        border-radius: var(--border-radius);
        font-size: var(--font-size-small);

        > code > span {
          font-family: "Roboto Mono", monospace;
        }
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: var(--space-10);
        right: var(--space-10);
        width: 30%;

        > span {
          font-size: var(--font-size-small);
          text-transform: uppercase;
        }

        > button {
          display: flex;
          align-items: center;
          gap: var(--space-10);
          border: 1px solid var(--color-1);
          border-radius: var(--border-radius);
          padding: var(--space-10);
          background-color: transparent;
          font-size: var(--font-size-small);
          cursor: pointer;

          &:hover {
            background-color: var(--background-color-2);
          }
        }
      }
    }
  }
}
