.main {
  display: flex;

  > aside {
    width: 20%;

    &:nth-of-type(2) {
      > nav {
        position: sticky;
        top: 200px;
        border-radius: var(--border-radius);
        padding: var(--space-small);
        width: 300px;
        background-color: var(--background-color-4);

        > header {
          margin-bottom: var(--space-small);
          font-size: var(--font-size-medium);
          color: var(--color-1);
        }

        main {
          > ul {
            > li {
              list-style-type: none;
              margin-bottom: var(--space-small);
              font-size: var(--font-size-small);

              &:last-child {
                margin-bottom: 0;
              }

              &.indent {
                margin-left: calc(var(--space-small) * 2);
              }

              > a {
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }

                &.active {
                  color: var(--color-1);
                }
              }

              > hr {
                margin-top: var(--space-small);
              }
            }
          }
        }
      }
    }
  }

  > article {
    border-radius: var(--border-radius);
    padding: var(--space-medium);
    width: 60%;

    h1,
    h2,
    h3,
    p,
    hr,
    ul,
    li {
      margin-bottom: calc(var(--space-medium) / 2);
    }

    h1,
    h2,
    h3 {
      position: relative;
      scroll-margin-top: calc(var(--height-header) + var(--space-medium) / 2);

      > a {
        text-decoration: none;
        color: var(--color-1);

        &:hover {
          text-decoration: underline;

          + span {
            display: inline;
          }
        }
      }

      > span {
        display: none;
      }
    }

    h1 {
      font-size: var(--font-size-xlarge);
    }

    h2 {
      font-size: var(--font-size-large);
    }

    h3 {
      font-size: var(--font-size-medium);
    }

    p {
      font-size: var(--font-size-small);
    }

    ul {
      padding-left: var(--space-medium);
      font-size: var(--font-size-small);
    }
  }
}
