@use "parts/header-links" as *;
@use "parts/header-path" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-base);
  font-family: "Roboto", sans-serif;
}

:root {
  --space-10: 10px;
  --space-20: 20px;
  --space-40: 40px;
  --space-50: 50px;
  --space-60: 60px;

  --border-radius: 10px;

  --height-header: 160px;

  --background-color-base: #191a1c;
  --background-color-1: #212426;
  --background-color-2: #323030;
  --background-color-3: #8a3323;
  --background-color-4: #273e8a;

  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-35: 35px;
  --font-size-45: 45px;
  --font-size-55: 55px;

  --color-base: #9b9b9b;
  --color-1: #e4e4e4;
  --color-2: #a58e42;
  --color-3: #24801c;
  --color-4: #d11078;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--height-header) + var(--space-20));
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color-base);

  > header {
    flex-basis: var(--height-header);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color-base);

    @include header-links;

    @include header-path;
  }

  > main {
    flex-grow: 1;
    flex-basis: auto;
  }

  > footer {
    flex-basis: 100px;
    line-height: 100px;
    text-align: center;

    > p {
      font-size: var(--font-size-25);
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: var(--color-1);
  }
}
