@use "../media" as *;

@mixin headings {
  :is(h1, h2, h3).heading-link-id {
    > a {
      display: block;
      color: var(--color-1);

      > span {
        display: none;
      }

      @include hover-type("hover") {
        &:hover > span {
          display: inline;
        }
      }

      @include hover-type("none") {
        &:active > span {
          display: inline;
        }
      }
    }
  }

  :is(h1, h2, h3).heading-none {
    > span {
      color: var(--color-1);
    }
  }

  h1.heading-link-id,
  h1.heading-none {
    position: relative;

    > aside {
      position: absolute;
      top: calc(var(--space-20) * -1);
      right: 0;
      font-weight: normal;
      font-size: var(--font-size-20);

      @include max-width-size("mobile-sm") {
        top: calc(var(--space-10) * -1);
      }
    }
  }

  h3.heading-link-page {
    > a {
      display: block;
    }
  }
}
