@mixin reference-nav {
  &:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    > nav {
      display: none;
      position: absolute;
      border-radius: var(--border-radius);
      padding: var(--space-10);
      width: 80%;
      background-color: var(--background-color-3);

      &.active {
        display: block;
      }

      > header {
        margin-bottom: var(--space-10);
        color: var(--color-1);
        font-size: var(--font-size-25);
      }

      > main {
        > ul {
          > li {
            list-style-type: none;
            margin-bottom: var(--space-10);

            &:last-child {
              margin-bottom: 0;
            }

            > a {
              display: flex;
              align-items: center;
              gap: var(--space-10);

              &:hover > span {
                color: var(--color-1);
              }

              > div {
                border-radius: calc(var(--border-radius) / 2);
                width: var(--font-size-20);
                height: var(--font-size-20);
                background-color: transparent;

                &.loading {
                  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

                  @keyframes pulse {
                    0%,
                    100% {
                      background-color: var(--background-color-1);
                    }
                    50% {
                      background-color: var(--background-color-2);
                    }
                  }
                }

                > img {
                  border-radius: calc(var(--border-radius) / 2);
                  width: var(--font-size-20);
                  height: var(--font-size-20);
                }
              }

              > span {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: var(--font-size-20);
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}

@mixin reference-button {
  .reference-button-container {
    position: relative;

    > button {
      position: absolute;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        > svg {
          fill: var(--background-color-3);
        }

        ~ *,
        ~ * * {
          color: var(--background-color-3);
        }
      }

      &:has(+ h1) {
        left: calc(var(--space-60) * -1);
        font-size: var(--font-size-55);
      }

      &:has(+ h2) {
        left: calc(var(--space-60) * -1);
        font-size: var(--font-size-45);
      }

      &:has(+ h3) {
        left: calc(var(--space-60) * -1);
        font-size: var(--font-size-35);
      }

      &:has(+ p) {
        left: calc(var(--space-50) * -1);
        font-size: var(--font-size-25);
      }

      &:has(+ li) {
        font-size: var(--font-size-25);
      }
    }
  }

  $selector: "ul";
  @for $i from 1 through 3 {
    #{$selector} > .reference-button-container > button {
      left: calc(var(--space-50) * -1 + (var(--space-40) * -1 * #{$i}));
    }

    $selector: $selector + " ul";
  }
}
