@use "../media" as *;

@mixin table {
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    :is(caption, th, td) {
      border: 1px solid var(--color-base);
      padding: var(--space-10) var(--space-20);
      overflow-wrap: anywhere;

      @include max-width-size("mobile-sm") {
        padding: var(--space-10);
      }
    }

    :is(caption, th) {
      background-color: var(--background-color-1);
    }

    :is(th, td) {
      text-align: left;
    }

    caption {
      font-weight: bold;
    }

    th:nth-child(1) {
      width: 30%;
    }

    td:nth-child(2) {
      width: 40%;
    }

    th:nth-child(3) {
      width: 30%;
    }
  }

  strong {
    color: var(--color-4);
  }
}
