@use "../media" as *;

@mixin toggle-list {
  .toggle-list {
    list-style: none;
    position: relative;

    > button {
      position: absolute;
      left: calc(-1 * var(--font-size-25) + -5px);
      border: none;
      background-color: transparent;
      transition: transform 0.2s;
      cursor: pointer;
      user-select: none;

      &.open {
        transform: rotate(90deg);

        & + div + div {
          display: block;
        }
      }

      > span {
        font-size: var(--font-size-25);
      }

      @include hover-type("hover") {
        &:hover {
          > span {
            color: var(--color-1);
          }
        }
      }

      @include hover-type("none") {
        -webkit-tap-highlight-color: transparent;

        &:active {
          > span {
            color: var(--color-1);
          }
        }
      }
    }

    > div:nth-child(2) {
      margin-bottom: var(--space-20);
    }

    > div:nth-child(3) {
      display: none;
    }
  }
}
