@use "../media" as *;

@mixin toggle-list {
  .toggle-list {
    list-style: none;
    position: relative;

    > div:nth-child(1) {
      position: absolute;
      left: calc(-1 * var(--font-size-25) + -5px);
      transition: transform 0.2s;
      cursor: pointer;
      user-select: none;

      &.open {
        transform: rotate(90deg);

        & + div + div {
          display: block;
        }
      }

      @include hover-type("hover") {
        &:hover {
          color: var(--color-1);
        }
      }

      @include hover-type("none") {
        -webkit-tap-highlight-color: transparent;

        &:active {
          color: var(--color-1);
        }
      }
    }

    > div:nth-child(2) {
      margin-bottom: var(--space-20);
    }

    > div:nth-child(3) {
      display: none;
    }
  }
}
