@use "../media" as *;

@mixin toggle-list {
  .toggle-list {
    list-style: none;
    position: relative;

    > button {
      position: absolute;
      left: calc(-1 * var(--font-size-25) - var(--space-05));
      border: none;
      width: var(--font-size-25);
      height: var(--font-size-25);
      background-color: transparent;

      font-size: var(--font-size-25);
      transition: transform 0.2s;
      cursor: pointer;
      user-select: none;

      @include hover-type("hover") {
        &:hover {
          svg {
            fill: var(--color-1);
          }
        }
      }

      @include hover-type("none") {
        -webkit-tap-highlight-color: transparent;

        &:active {
          > svg {
            fill: var(--color-1);
          }
        }
      }

      &.open {
        transform: rotate(90deg);

        & + div + div {
          display: block;
        }
      }
    }

    > div:nth-child(3) {
      display: none;
    }
  }
}
