@use "../media" as *;

@mixin header-links {
  > nav:first-child {
    display: flex;
    gap: var(--space-40);
    padding: var(--space-20) var(--space-40);

    > a {
      width: 200px;
      height: 80px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: var(--space-10);
      flex: 1;
      min-width: 0;

      > button {
        display: flex;
        opacity: 0;
        border: none;
        background-color: transparent;
        font-size: var(--font-size-35);
        cursor: pointer;
        pointer-events: none;

        @include hover-type("hover") {
          &:hover {
            > svg {
              fill: var(--color-1);
            }
          }
        }

        @include hover-type("none") {
          &:active {
            > svg {
              fill: var(--color-1);
            }
          }
        }

        &.scrollable {
          opacity: 1;
          pointer-events: all;
        }

        &.clamped {
          opacity: 0;
          pointer-events: none;
        }
      }

      > ul {
        display: flex;
        gap: var(--space-40);
        overflow-x: auto;
        scrollbar-width: none;

        &.scrollable {
          cursor: grab;
        }

        &.dragging {
          cursor: grabbing;

          & > li > a {
            cursor: grabbing;
          }
        }

        > li {
          flex-shrink: 0;
          list-style-type: none;

          > a {
            font-size: var(--font-size-35);
            transition: 0.2s;
            user-select: none;

            &.active {
              color: var(--color-1);
            }
          }
        }
      }
    }
  }
}
