@use "../media" as *;

@mixin header-path {
  > nav:last-child {
    display: flex;
    border-top: 1px solid var(--color-base);
    border-bottom: 1px solid var(--color-base);
    height: var(--space-40);
    background-color: var(--background-color-1);

    > aside {
      flex-basis: 20%;

      @include max-width-size("tablet") {
        flex-basis: 0;
      }
    }

    > main {
      display: flex;
      justify-content: space-between;
      flex-basis: 80%;
      padding: 0 var(--space-40);

      @include max-width-size("tablet") {
        flex-basis: 100%;
      }

      > ul {
        display: flex;

        > li {
          display: flex;
          align-items: center;
          list-style-type: none;
          font-size: var(--font-size-25);

          &:last-child {
            color: var(--color-1);
          }
        }
      }

      > div {
        display: flex;

        > button {
          display: flex;
          align-items: center;
          opacity: 0;
          border: none;
          border-radius: var(--border-radius);
          padding: 0 var(--space-10);
          font-size: var(--font-size-25);
          cursor: pointer;
          pointer-events: none;

          @include hover-type("hover") {
            &:hover {
              > svg {
                fill: var(--color-1);
              }
            }
          }

          @include hover-type("none") {
            &:active {
              > svg {
                fill: var(--color-1);
              }
            }
          }
          > svg {
            transition: transform 0.2s;
          }

          &.open {
            > svg {
              transform: rotate(180deg);
            }
          }
        }

        > button:first-child {
          background-color: var(--background-color-3);

          @include max-width-size("tablet") {
            &.active {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }

        > button:last-child {
          background-color: var(--background-color-4);

          @include max-width-size("tablet-lg") {
            &.active {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }
      }
    }
  }
}
