.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--height-header);
  background-color: var(--background-color-base);

  > nav:first-child {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--space-40) / 2) var(--space-40);

    > a {
      width: 200px;
      height: 80px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > ul {
      display: flex;
      align-items: center;
      gap: var(--space-40);

      > li {
        list-style-type: none;

        > a {
          font-size: var(--font-size-medium);
          transition: 0.2s;

          &.active {
            color: var(--color-1);
          }
        }
      }
    }
  }

  > nav:last-child {
    display: flex;
    border-top: 1px solid var(--color-base);
    border-bottom: 1px solid var(--color-base);
    height: var(--space-40);
    background-color: var(--background-color-1);

    > div {
      width: 20%;
    }

    > ul {
      display: flex;
      align-items: center;
      padding-left: var(--space-40);
      width: 60%;

      > li {
        display: flex;
        align-items: center;
        list-style-type: none;
        font-size: var(--font-size-small);

        &:last-child {
          color: var(--color-1);
        }
      }
    }
  }
}
