@use "header-mixins" as mixins;

@mixin header {
  > header {
    flex-basis: var(--height-header);
    position: sticky;
    top: 0;
    z-index: 2;

    @include mixins.header-links;

    @include mixins.header-path;
  }
}
