@use "header-mixins" as mixins;

@mixin header {
  > header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 2;
    height: var(--height-header);

    @include mixins.header-links;

    @include mixins.header-path;
  }
}
