@use "main-mixins" as mixins;
@use "media" as *;

@mixin main {
  > main {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;

    > aside {
      flex-basis: 20%;

      @include mixins.reference-nav;

      @include mixins.page-nav;

      &:last-child {
        @include max-width-size("tablet-lg") {
          flex-basis: 0;
        }
      }

      &:first-child {
        @include max-width-size("tablet") {
          flex-basis: 0;
        }
      }
    }

    > article {
      @include mixins.article-base;

      @include mixins.headings;

      @include mixins.toggle-list;

      @include mixins.table;

      @include mixins.code;

      @include mixins.reference-button;
    }
  }
}
