* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-base);
}

:root {
  --space-10: 10px;
  --space-20: 20px;
  --space-40: 40px;

  --border-radius: 10px;

  --height-header: 160px; /*.header, .main h1, .main h2, .main h3*/

  --background-color-base: #191a1c; /*body, .header*/
  --background-color-1: #212426; /*.header nav:last-child*/
  --background-color-2: #323030; /*.code.example, code.emphasis, pre-code-container button:hover*/
  --background-color-3: #8a3323; /*.reference-button-container button:hover svg, .reference-button-container nav*/
  --background-color-4: #273e8a; /*.main aside:nth-of-type(2) nav*/

  --color-base: #9b9b9b; /**, .header nav:last-child*/
  --color-1: #e4e4e4; /*highlight*/
  --color-2: #24801c; /*code.example*/
  --color-3: #a58e42; /*code.emphasis*/

  scroll-behavior: smooth;

  --font-size-xsmall: 20px; /*<ReferenceButton> li*/
  --font-size-small: 25px; /*p, ul, li, <ReferenceButton> header*/
  --font-size-medium: 35px; /*h3, header a*/
  --font-size-large: 45px; /*h2*/
  --font-size-xlarge: 55px; /*h1*/
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color-base);

  > main {
    flex: auto;
  }

  > header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: var(--height-header);
    background-color: var(--background-color-base);

    > nav:first-child {
      display: flex;
      justify-content: space-between;
      padding: var(--space-20) var(--space-40);

      > a {
        width: 200px;
        height: 80px;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      > ul {
        display: flex;
        align-items: center;
        gap: var(--space-40);

        > li {
          list-style-type: none;

          > a {
            font-size: var(--font-size-medium);
            transition: 0.2s;

            &.active {
              color: var(--color-1);
            }
          }
        }
      }
    }

    > nav:last-child {
      display: flex;
      border-top: 1px solid var(--color-base);
      border-bottom: 1px solid var(--color-base);
      height: var(--space-40);
      background-color: var(--background-color-1);

      > div {
        flex: 1;
      }

      > ul {
        display: flex;
        align-items: center;
        flex: 3;
        padding-left: var(--space-40);

        > li {
          display: flex;
          align-items: center;
          list-style-type: none;
          font-size: var(--font-size-small);

          &:last-child {
            color: var(--color-1);
          }
        }
      }
    }
  }

  > footer {
    height: 100px;
    line-height: 100px;
    text-align: center;

    > p {
      font-size: var(--font-size-small);
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: var(--color-1);
  }
}

code {
  font-family: "Roboto Mono", monospace;

  &.example {
    /*The below three declarations must not move to the upper part for styling <PreCode>.*/
    border-radius: var(--border-radius);
    padding: 0 var(--space-10);
    background-color: var(--background-color-2);
    color: var(--color-2);
  }

  &.emphasis {
    border-radius: var(--border-radius);
    padding: 0 var(--space-10);
    background-color: var(--background-color-2);
    color: var(--color-3);
  }
}
