.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color-base);

  > nav {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--space-medium) / 2) var(--space-medium);

    > a {
      width: 200px;
      height: 80px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > ul {
      display: flex;
      align-items: center;
      gap: var(--space-medium);

      > li {
        list-style: none;

        > a {
          font-size: var(--font-size-medium);
          transition: 0.2s;

          &.active {
            color: var(--color-1);
          }
        }
      }
    }
  }

  > .path {
    border-top: 1px solid var(--color-base);
    border-bottom: 1px solid var(--color-base);
    height: var(--space-medium);
    background-color: var(--background-color-1);
  }
}
